<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.secretRobot.SecretRobotContentMapper" >
  <resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.secretRobot.SecretRobotContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="secret_id" property="secretId" jdbcType="INTEGER" />
    <result column="text_or_picture" property="textOrPicture" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="content_type" property="contentType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="extend_data" property="extendData" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, secret_id, text_or_picture, sorting, content_type, create_time, extend_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_secret_robot_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_secret_robot_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moyou.moyouRms.model.secretRobot.SecretRobotContent" >
    insert into t_secret_robot_content (id, secret_id, text_or_picture, 
      sorting, content_type, create_time, 
      extend_data)
    values (#{id,jdbcType=INTEGER}, #{secretId,jdbcType=INTEGER}, #{textOrPicture,jdbcType=VARCHAR}, 
      #{sorting,jdbcType=INTEGER}, #{contentType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{extendData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moyou.moyouRms.model.secretRobot.SecretRobotContent" >
    insert into t_secret_robot_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="secretId != null" >
        secret_id,
      </if>
      <if test="textOrPicture != null" >
        text_or_picture,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="extendData != null" >
        extend_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="secretId != null" >
        #{secretId,jdbcType=INTEGER},
      </if>
      <if test="textOrPicture != null" >
        #{textOrPicture,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extendData != null" >
        #{extendData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.secretRobot.SecretRobotContent" >
    update t_secret_robot_content
    <set >
      <if test="secretId != null" >
        secret_id = #{secretId,jdbcType=INTEGER},
      </if>
      <if test="textOrPicture != null" >
        text_or_picture = #{textOrPicture,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extendData != null" >
        extend_data = #{extendData,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.secretRobot.SecretRobotContent" >
    update t_secret_robot_content
    set secret_id = #{secretId,jdbcType=INTEGER},
      text_or_picture = #{textOrPicture,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=INTEGER},
      content_type = #{contentType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      extend_data = #{extendData,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSecretContentBySecretId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select  tsrc.id, tsrc.secret_id, tsrc.text_or_picture, tsrc.sorting, tsrc.content_type, tsrc.create_time, tsrc.extend_data from t_secret_robot_content tsrc
  where tsrc.secret_id=#{secretId}
  </select>
</mapper>