<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.userRecommend.UserRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mode_type" property="modeType" jdbcType="SMALLINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="recommed_status" property="recommedStatus" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="recommend_sort" property="recommendSort" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mode_type, user_id, recommed_status, create_time, update_time, recommend_sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    insert into t_user_recommend (id, mode_type, user_id, 
      recommed_status, create_time, update_time, 
      recommend_sort)
    values (#{id,jdbcType=INTEGER}, #{modeType,jdbcType=SMALLINT}, #{userId,jdbcType=INTEGER}, 
      #{recommedStatus,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{recommendSort,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    insert into t_user_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modeType != null" >
        mode_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recommedStatus != null" >
        recommed_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="recommendSort != null" >
        recommend_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modeType != null" >
        #{modeType,jdbcType=SMALLINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="recommedStatus != null" >
        #{recommedStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendSort != null" >
        #{recommendSort,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    update t_user_recommend
    <set >
      <if test="modeType != null" >
        mode_type = #{modeType,jdbcType=SMALLINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="recommedStatus != null" >
        recommed_status = #{recommedStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendSort != null" >
        recommend_sort = #{recommendSort,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
   <update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    update t_user_recommend
    set mode_type = #{modeType,jdbcType=SMALLINT},
      recommed_status = #{recommedStatus,jdbcType=SMALLINT},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByParam" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    update t_user_recommend
    set mode_type = #{modeType,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=INTEGER},
      recommed_status = #{recommedStatus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      recommend_sort = #{recommendSort,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER} 
    and mode_type=#{modeType,jdbcType=INTEGER}
  </update>
  <select id="selectByUsreId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List"/>
    from t_user_recommend
    where user_id = #{id,jdbcType=INTEGER}
  </select>
     <update id="updateRecommedStatusByUserId" parameterType="com.moyou.moyouRms.model.userRecommend.UserRecommend" >
    update t_user_recommend
    set 
      recommed_status = #{recommedStatus,jdbcType=SMALLINT},
      update_time = now()
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>