<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.moyou.moyouRms.dao.sysBaseAccountRole.SysBaseAccountRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.moyou.moyouRms.model.sysBaseAccountRole.SysBaseAccountRole">
		<id column="account_id" property="accountId" jdbcType="VARCHAR" />
		<id column="role_id" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="com.moyou.moyouRms.model.sysBaseAccountRole.SysBaseAccountRole">
		delete from sys_base_account_role
		where account_id = #{accountId,jdbcType=VARCHAR}
		and role_id = #{roleId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.moyou.moyouRms.model.sysBaseAccountRole.SysBaseAccountRole">
		insert into sys_base_account_role (account_id, role_id)
		values (#{accountId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.moyou.moyouRms.model.sysBaseAccountRole.SysBaseAccountRole">
		insert into sys_base_account_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="accountId != null">
				account_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="accountId != null">
				#{accountId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteByAccountId" parameterType="java.lang.String">
		delete from sys_base_account_role
		where account_id = #{accountId,jdbcType=VARCHAR}
	</delete>
	<select id="selectSysBaseAccountRoleByAccountId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		sbar.role_id,
		sbar.account_id
		FROM
		sys_base_account_role AS sbar
		WHERE
		sbar.account_id = #{id,jdbcType=VARCHAR}

	</select>
</mapper>