<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.anonymousAvatar.AnonymousAvatarMapper" >
  <resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.anonymousAvatar.AnonymousAvatar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_anonymous_avatar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_anonymous_avatar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moyou.moyouRms.model.anonymousAvatar.AnonymousAvatar" >
    insert into t_anonymous_avatar (id, url)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moyou.moyouRms.model.anonymousAvatar.AnonymousAvatar" >
    insert into t_anonymous_avatar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.anonymousAvatar.AnonymousAvatar" >
    update t_anonymous_avatar
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.anonymousAvatar.AnonymousAvatar" >
    update t_anonymous_avatar
    set url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 	<select id="selectRandomAvatar" resultMap="BaseResultMap">
 	  SELECT id,url FROM `t_anonymous_avatar` ORDER BY RAND() LIMIT 0,1
 	</select>

</mapper>