<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.goldSignConfigure.GoldSignConfigureMapper" >
  <resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.goldSignConfigure.GoldSignConfigure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="gold" property="gold" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, days, gold, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_gold_sign_configure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_gold_sign_configure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moyou.moyouRms.model.goldSignConfigure.GoldSignConfigure" >
    insert into t_gold_sign_configure (id, days, gold, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{days,jdbcType=INTEGER}, #{gold,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.moyou.moyouRms.model.goldSignConfigure.GoldSignConfigure" >
    insert into t_gold_sign_configure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="gold != null" >
        gold,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        #{gold,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.goldSignConfigure.GoldSignConfigure" >
    update t_gold_sign_configure
    <set >
      <if test="days != null" >
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        gold = #{gold,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.goldSignConfigure.GoldSignConfigure" >
    update t_gold_sign_configure
    set days = #{days,jdbcType=INTEGER},
      gold = #{gold,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllForGoldSet" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from t_gold_sign_configure
    	order by id asc
    </select>
</mapper>