<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.user.BindDataMapper">
	<resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.user.BindData">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="bind_type" property="bindType" jdbcType="SMALLINT" />
		<result column="bind_data1" property="bindData1" jdbcType="VARCHAR" />
		<result column="bind_data2" property="bindData2" jdbcType="VARCHAR" />
		<result column="bind_data3" property="bindData3" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, bind_type, bind_data1, bind_data2, bind_data3
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_bind_data
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_bind_data
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!-- 绑定微信opendId -->
	<insert id="insert" parameterType="com.moyou.moyouRms.model.user.BindData"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_user_bind_data
		(user_id, bind_type,
		bind_data1, bind_data2, bind_data3,create_time
		)
		values ( #{userId,jdbcType=INTEGER}, #{bindType,jdbcType=SMALLINT},
		#{bindData1,jdbcType=VARCHAR}, #{bindData2,jdbcType=VARCHAR},
		#{bindData3,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP }
		)
	</insert>
	<insert id="insertSelective" parameterType="com.moyou.moyouRms.model.user.BindData">
		insert into t_user_bind_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="bindType != null">
				bind_type,
			</if>
			<if test="bindData1 != null">
				bind_data1,
			</if>
			<if test="bindData2 != null">
				bind_data2,
			</if>
			<if test="bindData3 != null">
				bind_data3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="bindType != null">
				#{bindType,jdbcType=SMALLINT},
			</if>
			<if test="bindData1 != null">
				#{bindData1,jdbcType=VARCHAR},
			</if>
			<if test="bindData2 != null">
				#{bindData2,jdbcType=VARCHAR},
			</if>
			<if test="bindData3 != null">
				#{bindData3,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.user.BindData">
		update t_user_bind_data
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="bindType != null">
				bind_type = #{bindType,jdbcType=SMALLINT},
			</if>
			<if test="bindData1 != null">
				bind_data1 = #{bindData1,jdbcType=VARCHAR},
			</if>
			<if test="bindData2 != null">
				bind_data2 = #{bindData2,jdbcType=VARCHAR},
			</if>
			<if test="bindData3 != null">
				bind_data3 = #{bindData3,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.user.BindData">
		update
		t_user_bind_data
		set user_id = #{userId,jdbcType=INTEGER},
		bind_type =
		#{bindType,jdbcType=SMALLINT},
		bind_data1 =
		#{bindData1,jdbcType=VARCHAR},
		bind_data2 =
		#{bindData2,jdbcType=VARCHAR},
		bind_data3 =
		#{bindData3,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="queryBindData" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		SELECT bind_data1 FROM t_user_bind_data WHERE
		user_id=#{userId} and bind_type=1
	</select>
	<!-- 根据用户ID查询绑定的微信数据 -->
	<select id="queryBindDataInfo" parameterType="java.lang.Integer"
		resultType="com.moyou.moyouRms.model.user.BindData">
		SELECT bind_data1 as openId ,bind_data2 as WeiXinNickName
		FROM
		t_user_bind_data WHERE user_id=#{userId} and bind_type=1
	</select>
	<select id="queryBindDataInfoByUserIdForWEIXIN" parameterType="java.lang.Integer"
		resultType="com.moyou.moyouRms.model.user.BindData">
		SELECT bind_data1 as openId ,bind_data2 as WeiXinNickName FROM
		t_user_bind_data WHERE user_id=#{userId} and bind_type =1
	</select>
</mapper>