<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.version.H5VersionMapper">
	<resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.version.Version">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="version_name" property="versionName" jdbcType="VARCHAR" />
		<result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
		<result column="phone_reg_on" property="phoneRegOn" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="force_update_state" property="forceUpdateState"
			jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="publish" property="publish" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, version_name as versionName, download_url as downloadUrl, phone_reg_on as phoneRegOn,
		create_time as createTime ,title as title, content
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_version
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_version
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.moyou.moyouRms.model.version.Version"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_version (
		version_name, download_url,
		create_time,content,force_update_state,title)
		values
		(#{versionName,jdbcType=VARCHAR},
		#{downloadUrl,jdbcType=VARCHAR},
		NOW(),#{content,jdbcType=VARCHAR},#{forceUpdateState,jdbcType=INTEGER},#{title,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.moyou.moyouRms.model.version.Version">
		insert into t_version
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="versionName != null">
				version_name,
			</if>
			<if test="downloadUrl != null">
				download_url,
			</if>
			<if test="phoneRegOn != null">
				phone_reg_on,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="publish != null">
				publish,
			</if>
			<if test="title != null">
				title,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="versionName != null">
				#{versionName,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				#{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="phoneRegOn != null">
				#{phoneRegOn,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="publish != null">
				#{publish,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.version.Version">
		update t_version
		<set>
			<if test="versionName != null">
				version_name = #{versionName,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				download_url = #{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="phoneRegOn != null">
				phone_reg_on = #{phoneRegOn,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="publish != null">
				publish= #{publish,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title= #{title,jdbcType=VARCHAR},
			</if>
				<if test="forceUpdateState != null">
				force_update_state= #{forceUpdateState,jdbcType=VARCHAR},
			</if>
				<if test="content != null">
				content= #{content,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.version.Version">
		update t_version
		set version_name = #{versionName,jdbcType=VARCHAR},
		download_url =
		#{downloadUrl,jdbcType=VARCHAR},
		phone_reg_on =
		#{phoneRegOn,jdbcType=BIT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询最新的版本信息 -->
	<select id="queryLatestVersion" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		t_version v
		ORDER BY
		v.create_time DESC
		LIMIT 1
	</select>
</mapper>