<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.msgBar.MsgBarMapper">
	<resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.msgBar.MsgBar">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="mode_id" property="modeId" jdbcType="INTEGER" />
		<result column="mode_type" property="modeType" jdbcType="SMALLINT" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
		<result column="state" property="state" jdbcType="SMALLINT" />
		<result column="extend_data" property="extendData" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, content, mode_id, mode_type, account, create_time,
		push_time, state,
		extend_data
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_msg_bar
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_msg_bar
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.moyou.moyouRms.model.msgBar.MsgBar">
		insert into t_msg_bar (id,
		content, mode_id,
		mode_type, account, create_time,
		push_time, state,
		extend_data
		)
		values (#{id,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR},
		#{modeId,jdbcType=INTEGER},
		#{modeType,jdbcType=SMALLINT}, #{account,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{pushTime,jdbcType=TIMESTAMP},
		#{state,jdbcType=SMALLINT},
		#{extendData,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.moyou.moyouRms.model.msgBar.MsgBar">
		insert into t_msg_bar
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="modeId != null">
				mode_id,
			</if>
			<if test="modeType != null">
				mode_type,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="pushTime != null">
				push_time,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="extendData != null">
				extend_data,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="modeId != null">
				#{modeId,jdbcType=INTEGER},
			</if>
			<if test="modeType != null">
				#{modeType,jdbcType=SMALLINT},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="pushTime != null">
				#{pushTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				#{state,jdbcType=SMALLINT},
			</if>
			<if test="extendData != null">
				#{extendData,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.msgBar.MsgBar">
		update t_msg_bar
		<set>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="modeId != null">
				mode_id = #{modeId,jdbcType=INTEGER},
			</if>
			<if test="modeType != null">
				mode_type = #{modeType,jdbcType=SMALLINT},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="pushTime != null">
				push_time = #{pushTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=SMALLINT},
			</if>
			<if test="extendData != null">
				extend_data = #{extendData,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.msgBar.MsgBar">
		update t_msg_bar
		set content = #{content,jdbcType=VARCHAR},
		mode_id =
		#{modeId,jdbcType=INTEGER},
		mode_type = #{modeType,jdbcType=SMALLINT},
		account = #{account,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		push_time =
		#{pushTime,jdbcType=TIMESTAMP},
		state = #{state,jdbcType=SMALLINT},
		extend_data = #{extendData,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="queryMsgBarList" parameterType="PageBean" resultMap="BaseResultMap">
		SELECT
		mb.id,
		mb.content,
		mb.mode_id,
		mb.mode_type,
		mb.account,
		mb.create_time,
		mb.push_time,
		mb.state,
		mb.extend_data
		FROM
		t_msg_bar AS mb
		ORDER BY mb.create_time DESC
	</select>
	<select id="selectUnPushMsgBar"  resultMap="BaseResultMap">
		SELECT
		mb.id,
		mb.content,
		mb.mode_id,
		mb.mode_type,
		mb.account,
		mb.create_time,
		mb.push_time,
		mb.state,
		mb.extend_data
		FROM
		t_msg_bar AS mb
		where mb.state=0
		ORDER BY mb.create_time DESC
		
	</select>
</mapper>