<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.userSign.UserSignMapper">
	<resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.userSign.UserSign">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="continuous_sign_count" property="continuousSignCount"
			jdbcType="INTEGER" />
		<result column="sign_count" property="signCount" jdbcType="INTEGER" />
		<result column="last_date" property="lastDate" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, continuous_sign_count, sign_count, last_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_sign
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_sign
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.moyou.moyouRms.model.userSign.UserSign">
		insert into t_user_sign (id,
		user_id, continuous_sign_count,
		sign_count, last_date, sign_source
		)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{continuousSignCount,jdbcType=INTEGER},
		#{signCount,jdbcType=INTEGER}, #{lastDate,jdbcType=DATE},
		#{signSource,jdbcType=SMALLINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.moyou.moyouRms.model.userSign.UserSign">
		insert into t_user_sign
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="continuousSignCount != null">
				continuous_sign_count,
			</if>
			<if test="signCount != null">
				sign_count,
			</if>
			<if test="lastDate != null">
				last_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="continuousSignCount != null">
				#{continuousSignCount,jdbcType=INTEGER},
			</if>
			<if test="signCount != null">
				#{signCount,jdbcType=INTEGER},
			</if>
			<if test="lastDate != null">
				#{lastDate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.userSign.UserSign">
		update t_user_sign
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="continuousSignCount != null">
				continuous_sign_count =
				#{continuousSignCount,jdbcType=INTEGER},
			</if>
			<if test="signCount != null">
				sign_count = #{signCount,jdbcType=INTEGER},
			</if>
			<if test="lastDate != null">
				last_date = #{lastDate,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.userSign.UserSign">
		update t_user_sign
		set user_id = #{userId,jdbcType=INTEGER},
		continuous_sign_count =
		#{continuousSignCount,jdbcType=INTEGER},
		sign_count =
		#{signCount,jdbcType=INTEGER},
		last_date = #{lastDate,jdbcType=DATE}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getUSerSignByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user_sign
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="selectOffLineUser" parameterType="java.lang.Integer"
		resultType="com.moyou.moyouRms.model.user.UserInfo">
		SELECT
		tus.user_id userId,
		tui.push_chat_id pushChatId,
		tu.reg_type regType
		FROM
		t_user_sign tus
		LEFT JOIN t_user_info tui ON tui.user_id = tus.user_id
		LEFT JOIN t_user tu ON tu.user_id = tus.user_id
		WHERE
		DATE_SUB(CURDATE(),
		INTERVAL #{day} DAY) = tus.last_date and tu.type=0
	</select>
</mapper>