<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.userdynamic.UserDynamicMapper">
	<resultMap id="BaseResultMap"
		type="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="data_id" property="dataId" jdbcType="INTEGER" />
		<result column="data_type" property="dataType" jdbcType="SMALLINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, data_id, data_type, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_dynamic
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_dynamic
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		insert into t_user_dynamic
		(id, user_id, data_id,
		data_type, create_time)
		values
		(#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{dataId,jdbcType=INTEGER},
		#{dataType,jdbcType=SMALLINT},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		insert into t_user_dynamic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="dataId != null">
				data_id,
			</if>
			<if test="dataType != null">
				data_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="dataId != null">
				#{dataId,jdbcType=INTEGER},
			</if>
			<if test="dataType != null">
				#{dataType,jdbcType=SMALLINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		update t_user_dynamic
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="dataId != null">
				data_id = #{dataId,jdbcType=INTEGER},
			</if>
			<if test="dataType != null">
				data_type = #{dataType,jdbcType=SMALLINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		update
		t_user_dynamic
		set user_id = #{userId,jdbcType=INTEGER},
		data_id =
		#{dataId,jdbcType=INTEGER},
		data_type = #{dataType,jdbcType=SMALLINT},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<delete id="deleteByDataIdAnDType" parameterType="com.moyou.moyouRms.model.userdynamic.UserDynamic">
		delete from t_user_dynamic
		where data_id = #{dataId,jdbcType=INTEGER} and
		data_type = #{dataType}
	</delete>
</mapper>