<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyou.moyouRms.dao.diary.DiaryCommentMapper">
	<resultMap id="BaseResultMap" type="com.moyou.moyouRms.model.diary.DiaryComment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="diary_id" property="diaryId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, diary_id, user_id, content, parent_id, state, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_diary_comment
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_diary_comment
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.moyou.moyouRms.model.diary.DiaryComment">
		insert into t_diary_comment (id, diary_id, user_id,
		content, parent_id, state,
		create_time)
		values (#{id,jdbcType=INTEGER}, #{diaryId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.moyou.moyouRms.model.diary.DiaryComment"
	keyProperty="id" useGeneratedKeys="true">
		insert into t_diary_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="diaryId != null">
				diary_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="diaryId != null">
				#{diaryId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.moyou.moyouRms.model.diary.DiaryComment">
		update t_diary_comment
		<set>
			<if test="diaryId != null">
				diary_id = #{diaryId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.moyou.moyouRms.model.diary.DiaryComment">
		update t_diary_comment
		set diary_id = #{diaryId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		content = #{content,jdbcType=VARCHAR},
		parent_id = #{parentId,jdbcType=INTEGER},
		state = #{state,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectDiaryCommentListByDiaryId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		SELECT
		tdc.id,
		tdc.diary_id,
		tdc.user_id,
		tdc.content,
		tdc.parent_id,
		tdc.state,
		tdc.create_time,
		tui.nickname,
		tui.avatar
		FROM
		t_diary_comment tdc
		LEFT JOIN t_user_info tui ON tui.user_id = tdc.user_id
		WHERE
		tdc.diary_id =#{id,jdbcType=INTEGER}
		AND tdc.state = 1
		ORDER BY
		tdc.create_time desc
	</select>
		<select id="selectDiaryCommentListByDiaryIdLimit" resultMap="BaseResultMap"
		parameterType="PageBean">
		SELECT
		tdc.id,
		tdc.diary_id,
		tdc.user_id,
		tdc.content,
		tdc.parent_id,
		tdc.state,
		tdc.create_time,
		tui.nickname,
		tui.avatar
		FROM
		t_diary_comment tdc
		LEFT JOIN t_user_info tui ON tui.user_id = tdc.user_id
		WHERE
		tdc.diary_id =#{conditions.id,jdbcType=INTEGER}
		AND tdc.state = 1
		ORDER BY
		tdc.create_time desc
	</select>
</mapper>